.SearchBar {
    text-align: left;
    margin: 8px;
}

.SearchBar-text {
    color: white;
    margin-bottom: 16px;
}

.SearchBar-input {
    /* 16px = margin left and right */
    width: calc(100% - 16px);
    padding: 8px;
}

.SearchBar-checkbox {
    padding: 8px 0px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.SearchBar-checkbox-input {
    margin-right: 8px;
}

.SearchBar-checkbox-text {
    color: white;
    font-size: small;
    font-weight: bold;
    letter-spacing: 2px;
}