.Home {
    text-align: center;
  }
  
  .Home-Header-Text {
    display: flex;
    justify-content: center;
    color: white;
  }
  
  .Home-Header-Buttons {
    display: flex;
    justify-content: end;
    padding: 8px;
  }
  